[Unit]
Description=A scrollable-tiling Wayland compositor

BindsTo=graphical-session.target
Before=graphical-session.target
PropagatesStopTo=graphical-session.target

After=app-graphical.slice background-graphical.slice session-graphical.slice
PropagatesStopTo=app-graphical.slice background-graphical.slice session-graphical.slice

[Service]
Slice=session.slice
Type=notify
TimeoutSec=20s
ExecStartPre=wmd-helper set-environment niri-custom
ExecStart=/usr/bin/niri --session
ExecStopPost=wmd-helper unset-environment niri-custom
