[Unit]
Description=Autostart service for `niri-custom.service`.
After=niri-custom.service

[Service]
Slice=app-graphical.slice
Type=simple
TimeoutSec=20s
ExecStart=nu %h/.local/bin/niri-custom autostart

[Install]
WantedBy=niri-custom.service
