include "include/binds.kdl"
include "include/debug.kdl"
include "include/inputs.kdl"
include "include/layout.kdl"
include "include/miscellaneous.kdl"
include "include/outputs.kdl"
include "include/overview.kdl"
include "include/windows.kdl"
include "include/workspaces.kdl"
