[Unit]
Description=A scrollable-tiling Wayland compositor

BindsTo=graphical-session.target
Before=graphical-session.target
PropagatesStopTo=graphical-session.target

After=app-graphical.slice background-graphical.slice session-graphical.slice
PropagatesStopTo=app-graphical.slice background-graphical.slice session-graphical.slice

[Service]
Slice=session.slice
Type=notify
TimeoutSec=20s
ExecStartPre=%h/.local/bin/niri-custom import-environment
ExecStart=/usr/bin/niri --session
ExecStartPost=%h/.local/bin/niri-custom autostart --systemd
ExecStopPost=%h/.local/bin/niri-custom cleanup
